* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;

}
ul,li,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
html,body{
    scroll-behavior: smooth;
}
.img-fluld {
    max-width: 100%;
    height: auto;
  }
  .w {
    width: 100%;
  }